.input {
    width: 100%; /* Заполнение ширины */
    height: 45px; /* Высота полей ввода */
    padding: 10px; /* Внутренние отступы */
    border: 1px solid #ccc; /* Светлая рамка */
    border-radius: 5px; /* Скругление углов */
    font-size: 14px; /* Размер шрифта для текста */
    color: #333; /* Цвет текста */
    box-sizing: border-box; /* Учет ширины рамки и отступов */
}