
.btn_reg {
    width: 100%; /* Заполнение ширины */
    height: 45px; /* Высота кнопки */
    background-color: #6a1b9a; /* Цвет фона кнопки */
    color: white; /* Цвет текста на кнопке */
    border: none; /* Убрать рамку */
    border-radius: 5px; /* Скругление углов */
    font-size: 16px; /* Размер шрифта для текста */
    cursor: pointer; /* Указатель курсора на кнопке */
    transition: background-color 0.3s; /* Плавный переход для фона */
}

.btn_reg:active {
    background-color: white;
    color: #6a1b9a;
}