p { 	
    background-color: #d3d3d3; /* Светло-серый фон */
    padding: 10px; /* Добавляет немного отступов вокруг текста */
	font-size: 16px; /* Устанавливает размер шрифта в 16 пикселей */
}
table {
    width: 100%;            /* Измените на 100% для полного заполнения */
    border-collapse: collapse; /* Убирает двойные границы */
    background-color:  turquoise; /* Бирюзовая таблица */
}

th, td {
    border: 1px solid white; /* Граница ячеек белая */
    padding: 10px;          /* Отступы внутри ячеек */
    text-align: left;       /* Выравнивание текста */
}