.slider_container {
margin-bottom: 20px;
}

.slider {
    margin-bottom: 40px;
    width: 1200px;
    height: 500px;
    margin-left: 20px;
    margin-top: 20px;
}
.slider_container_img {
    width: 1220px;
    height: 500px;
}